{% extends "base.html" %} 
{% block content %}
{% load static from staticfiles%}

<html>
	<div class="container">
		<div class="separator" style="clear: both; text-align: center;">
			<a> <br> <br> <img border="5" data-original-height="525" data-original-width="1080" height="255" src="{% static 'Image/image5.jpg' %}" width="420" /></a>
			<a> <br> <br> <img border="5" data-original-height="525" data-original-width="1080" height="255" src="{% static 'Image/image6.jpg' %}" width="420" /></a>
			<a> <br> <br> <img border="5" data-original-height="525" data-original-width="1080" height="255" src="{% static 'Image/image7.jpg' %}" width="420" /></a>
			<a> <br> <br> <img border="5" data-original-height="525" data-original-width="1080" height="255" src="{% static 'Image/image8.jpg' %}" width="420" /></a>
		</div>
	</div>
</html>

{%endblock%}




